 .u-section-1 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 18px auto 0 426px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -48px 418px 0 492px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 51px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 29px 353px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 55px;
  height: 55px;
  margin: -44px auto 0 426px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 26px 51px 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-left: 351px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 318px;
    margin-left: 392px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 291px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -45px;
    margin-left: 351px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
    margin-right: 112px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 208px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 223px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 118px;
    margin-left: 192px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 167px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 202px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 18px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 105px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 127px;
  }
} .u-section-2 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-2 .u-sheet-1 {
  min-height: 263px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 17px 157px 0 296px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1061px;
  margin: 0 auto 3px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 190px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 14px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 190px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 5px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 11px 23px 0 14px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 190px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 1px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 15px 1px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 196px;
    margin-right: 57px;
    width: 547px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 875px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 17px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 85px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 33px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 670px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 13px;
    padding-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 68px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -86px;
    margin-left: 65px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 32px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 77px;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 79px;
    margin-right: 18px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 80px;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -52px;
  }

  .u-section-2 .u-text-3 {
    width: 451px;
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 77px;
    padding-right: 18px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 11px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 6px;
    padding-left: 65px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-3 .u-sheet-1 {
  min-height: 672px;
}

.u-section-3 .u-shape-1 {
  height: 634px;
  background-image: linear-gradient(#2c1b4e, #161523);
  margin: 0;
}

.u-section-3 .u-group-1 {
  width: 250px;
  height: auto;
  background-image: none;
  min-height: 198px;
  margin: -198px auto 0 295px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-1 {
  width: 114px;
  height: 114px;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 0 auto -19px 10px;
}

.u-section-3 .u-group-2 {
  width: 240px;
  height: auto;
  background-image: none;
  min-height: 208px;
  margin: -207px 229px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px 9px;
}

.u-section-3 .u-image-2 {
  width: 123px;
  height: 123px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-group-3 {
  width: 229px;
  height: auto;
  background-image: none;
  min-height: 206px;
  margin: -420px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 117px;
  height: 117px;
  margin: 9px 127px 0 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-group-4 {
  width: 233px;
  height: auto;
  background-image: none;
  min-height: 218px;
  margin: -212px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 9px 0 0;
}

.u-section-3 .u-image-4 {
  width: 119px;
  height: 119px;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 13px auto 0 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  text-shadow: 2px 2px 7px rgba(153,153,153,0.55);
  margin: -129px auto 0 445px;
}

.u-section-3 .u-group-5 {
  width: 250px;
  height: auto;
  background-image: none;
  min-height: 197px;
  margin: -340px auto 0 295px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-image-5 {
  width: 121px;
  height: 121px;
  margin: 8px auto 0 5px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 5px auto 0 0;
}

.u-section-3 .u-group-6 {
  width: 240px;
  height: auto;
  background-image: none;
  min-height: 194px;
  margin: -194px 232px 60px auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-image-6 {
  width: 124px;
  height: 124px;
  margin: 8px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 0 18px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: 933px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: 112px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: 367px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 9px;
    padding-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-5 {
    margin-left: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-left: 290px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 211px;
  }

  .u-section-3 .u-group-5 {
    margin-left: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    margin-left: 90px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 133px;
  }

  .u-section-3 .u-group-5 {
    margin-left: 90px;
  }

  .u-section-3 .u-group-6 {
    margin-right: 100px;
  }
} .u-section-4 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-4 .u-sheet-1 {
  min-height: 541px;
}

.u-section-4 .u-group-1 {
  height: auto;
  background-image: linear-gradient(#2c1b4e, #161523);
  min-height: 534px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 5px;
}

.u-section-4 .u-text-1 {
  text-shadow: -2px 0px 8px rgba(128,128,128,0.6);
  margin: 205px auto 0;
}

.u-section-4 .u-group-2 {
  width: 289px;
  height: auto;
  background-image: none;
  min-height: 224px;
  margin: -526px auto 0 78px;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 10px 0;
}

.u-section-4 .u-image-1 {
  width: 116px;
  height: 116px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: -90px 60px 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 48px auto 0 5px;
}

.u-section-4 .u-group-3 {
  width: 290px;
  height: auto;
  background-image: none;
  min-height: 225px;
  margin: -225px 75px 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-4 .u-image-2 {
  width: 115px;
  height: 115px;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: -89px 7px 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 47px 20px 0;
}

.u-section-4 .u-group-4 {
  width: 297px;
  height: auto;
  background-image: none;
  min-height: 236px;
  margin: 58px auto 0 70px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px 9px;
}

.u-section-4 .u-image-3 {
  width: 109px;
  height: 109px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: -80px 17px 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 39px 0 0;
}

.u-section-4 .u-group-5 {
  width: 294px;
  height: auto;
  background-image: none;
  min-height: 243px;
  margin: -243px 71px 15px auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 113px;
  height: 113px;
  margin: 0 auto 0 10px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: -87px 26px 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 19px auto 0 7px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-2 {
    margin-left: 51px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 50px;
  }

  .u-section-4 .u-group-4 {
    margin-left: 43px;
  }

  .u-section-4 .u-group-5 {
    margin-right: 46px;
  }
}