 .u-section-1 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-1 .u-sheet-1 {
  min-height: 2039px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  background-image: linear-gradient(#2c1b4e, #161523);
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 2047px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 14px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1680px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1688px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 968px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 92px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 931px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 731px;
  }
}