 .u-section-1 {
  background-image: url("images/WhatsAppImage2023-10-11at4.09.04PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 851px;
}

.u-section-1 .u-group-1 {
  width: 212px;
  min-height: 97px;
  height: auto;
  margin: 16px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 475px auto 0 20px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 26px rgba(150,95,138,0.65);
  margin: 14px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 30px 20px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-group-1 {
    width: 557px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-group-1 {
    width: 426px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-group-1 {
    width: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-group-1 {
    width: 336px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-2 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-2 .u-sheet-1 {
  min-height: 166px;
}

.u-section-2 .u-group-1 {
  width: 824px;
  min-height: 44px;
  height: auto;
  margin: 1px 115px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 3px;
  padding-left: 3px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 984px;
  margin: 0 auto 10px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 111px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-1 {
  width: 102px;
  height: 102px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 111px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 121px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 111px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 95px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 111px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  width: 144px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 16px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-weight: normal;
    text-decoration: none solid rgb(255, 255, 255);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 144px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 144px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-3 {
    width: 163px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 144px;
  }

  .u-section-2 .u-text-2 {
    width: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 104px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 13px;
    padding-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 75px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 6px;
    padding-left: 6px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
} .u-section-3 {
  background-image: linear-gradient(#161523, #2c1b4e);
}

.u-section-3 .u-sheet-1 {
  min-height: 350px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1068px;
  margin: 4px auto 5px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 356px;
}

.u-section-3 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  margin: 16px 22px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px 4px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  margin: 16px auto 0 22px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 356px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 25px 21px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 21px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 418px;
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    letter-spacing: normal;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 83px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 64px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 1087px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 48px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    min-height: 641px;
    width: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 6px;
  }
} .u-section-4 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-4 .u-sheet-1 {
  min-height: 438px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1069px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 478px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 173px;
  height: 168px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 6px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: 31px 20px 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px -1px 0 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 478px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 173px;
  height: 168px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 2px 147px 0 6px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 32px 33px 0 20px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 20px -1px 0 20px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 478px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 173px;
  height: 168px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 6px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 35px 46px 0 20px;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 45px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4466px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 420px;
    pointer-events: auto;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-1 {
    margin-right: 96px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 17px;
    margin-right: 31px;
  }

  .u-section-4 .u-layout-cell-2 {
    pointer-events: auto;
    background-position: 50% 50%;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 420px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 16px;
  }

  .u-section-4 .u-layout-cell-3 {
    pointer-events: auto;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 420px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
    width: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 7px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 7px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 7px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 22px;
    margin-left: 33px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 2px;
    margin-left: 33px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 17px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 73px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 27px;
  }
} .u-section-5 {
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-5 .u-sheet-1 {
  min-height: 519px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Berkshire Swash";
  margin: 12px 986px 0 0;
}

.u-section-5 .u-group-1 {
  width: 352px;
  min-height: 92px;
  height: auto;
  background-image: linear-gradient(#2c1b4e, #161523);
  margin: 17px auto 0 45px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 5px;
  padding-right: 0;
}

.u-section-5 .u-group-2 {
  min-height: 90px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  margin: 15px 31px 0 26px;
}

.u-section-5 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1000px;
  margin: 15px auto 0 45px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 344px;
  background-image: linear-gradient(#2c1b4e, #161523);
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-list-1 {
  width: 351px;
  margin: 0 auto;
}

.u-section-5 .u-repeater-1 {
  min-height: 330px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 19px 172px 0 1px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 7px 284px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 72px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 238px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  border-style: solid;
  font-size: 1.125rem;
  margin: -8px 130px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 90px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 197px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 1px 113px 0 0;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 226px 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 144px;
}

.u-section-5 .u-container-layout-5 {
  padding: 3px 0;
}

.u-section-5 .u-group-3 {
  min-height: 127px;
  height: auto;
  width: 209px;
  margin: 9px 7px 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-4 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0 19px 0 0;
}

.u-section-5 .u-btn-11 {
  background-image: none;
  border-style: solid;
  font-size: 1.125rem;
  margin: 31px auto 0 8px;
  padding: 0;
}

.u-section-5 .u-btn-12 {
  background-image: none;
  border-style: solid;
  font-size: 1.125rem;
  margin: -57px auto 0 8px;
  padding: 0;
}

.u-section-5 .u-btn-13 {
  background-image: none;
  border-style: solid;
  font-size: 1.125rem;
  margin: 27px auto 0 8px;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 144px;
}

.u-section-5 .u-container-layout-7 {
  padding: 3px 0 0;
}

.u-section-5 .u-group-4 {
  width: 128px;
  min-height: 47px;
  height: auto;
  margin: 17px auto 0 76px;
}

.u-section-5 .u-text-5 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-5 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-5 {
  min-height: 55px;
  width: 58px;
  height: auto;
  margin: -45px auto 0 16px;
}

.u-section-5 .u-container-layout-9 {
  padding-top: 0;
}

.u-section-5 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 0 auto 0 2px;
  padding: 0;
}

.u-section-5 .u-btn-15 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 0 auto 0 16px;
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-10 {
  padding: 0;
}

.u-section-5 .u-group-6 {
  width: 319px;
  min-height: 78px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-11 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-5 .u-icon-2 {
  width: 39px;
  height: 39px;
  margin: 20px auto 0 64px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: -38px auto 0 16px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 39px;
  height: 39px;
  margin: -38px auto 0 110px;
  padding: 0;
}

.u-section-5 .u-icon-5 {
  width: 39px;
  height: 39px;
  margin: -38px 543px 0 158px;
  padding: 0;
}

.u-section-5 .u-icon-6 {
  width: 39px;
  height: 39px;
  margin: -41px auto 0 208px;
  padding: 0;
}

.u-section-5 .u-icon-7 {
  width: 39px;
  height: 39px;
  margin: -37px 19px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 786px;
  }

  .u-section-5 .u-group-1 {
    margin-left: 0;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-5 .u-list-1 {
    width: 370px;
    margin-left: 11px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-5 .u-group-3 {
    width: 235px;
    margin-right: 5px;
    height: auto;
  }

  .u-section-5 .u-text-4 {
    margin-right: 12px;
  }

  .u-section-5 .u-btn-11 {
    margin-left: 1px;
  }

  .u-section-5 .u-btn-12 {
    margin-left: 1px;
  }

  .u-section-5 .u-btn-13 {
    margin-left: 1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }

  .u-section-5 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-5 .u-group-6 {
    width: 235px;
    margin-right: 0;
    height: auto;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 81px;
  }

  .u-section-5 .u-icon-5 {
    margin-right: 400px;
    margin-left: 116px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -40px;
    margin-left: 153px;
  }

  .u-section-5 .u-icon-7 {
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 566px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 386px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 513px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 186px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    width: 338px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 252px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 40px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 206px;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 98px;
  }

  .u-section-5 .u-btn-7 {
    margin-right: 58px;
  }

  .u-section-5 .u-btn-8 {
    margin-right: 165px;
  }

  .u-section-5 .u-btn-9 {
    margin-right: 81px;
  }

  .u-section-5 .u-btn-10 {
    margin-right: 194px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 323px;
  }
}